h1 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}
h3 {
	text-align: center;
}
body {
	margin: 10px;
	line-height: 40px;
	font-size: 20px;
	color: white;
	background: url("http://wallpapers-library.com/images/mac-os-x-desktop-wallpaper/mac-os-x-desktop-wallpaper-21.jpg");

}
p {
	text-align: center;
}
.pictures {
	text-align: center;
}
#score {
	text-align: center;
}


